<!-- This is a template file for Gibberface. Make copies of it whenever you want to start a project. Any files made with this template
     need to be stored in the same directory as the js folder containing interface.js and gibberish.js 
-->

<html>

<head>
  
  <script src="js/zepto.js"></script>
  <script src="js/gibberish_2.0.min.js"></script>
  <script src="js/interface.js"></script>
  
  <!-- add some meta tags so that apps can be fullscreen under ios -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta id="extViewportMeta" name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  
</head>

<body></body>

<script>

  // some basic setup code creating a full window interface panel and initializing Gibberish */
  panel = new Interface.Panel()
  Gibberish.init()

  Gibberish.export("Time", window)
  Gibberish.export("Binops", window)
  
  // put your code below!
  a = new Gibberish.Sine().connect()
  b = new Interface.Slider({ bounds:[0,0,1,1], target:a, key:'frequency', min:440, max:880 })
  panel.add( b )
  
</script>

</html>